################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/GenericRepository/bin
/src/GenericRepository/obj
/src/GenericRepository.Data/bin
/src/GenericRepository.Data/obj
/tests/GenericRepository.Data.Test/bin
/tests/GenericRepository.Data.Test/obj
